.todo-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    background-color: white;
    color: var(--bg-color);

    .button-clear {
        background-color: transparent;
        color: var(--bg-color);
        font-weight: 100;
    }

    input[type="radio"] {
        visibility: hidden;

        & + label {
            padding: 2px 6px;
        }

        &:checked + label {
            border: 1px solid var(--bg-color);
        }  
    }
  }
