:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --title-font-size: 56px;
  --font-size-normal: 18px;

  --bg-color: #c8c8c8;
  --header-font-color: #5c5c3d;
  --text-color: #4d4d4d;
  --text-color-pale: #b3b3b3;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.todo {
  width: 75vw;
  padding: 12px;
  background-color: var(--bg-color);
}

.todo-header {
  font-size: var(--title-font-size);
  font-weight: 100;
  color: var(--header-font-color);
}

.todo-body {
  background-color: white;
  box-shadow: #c8c8c8;
}

.todo-next {
  text-align: left;
  border-bottom: 2px solid var(--bg-color);
}

.todo-input {
  padding: 12px 0 12px 52px;
  margin-right: 12px;
  border: none;
  background: transparent;
  font-size: var(--font-size-normal);
  color: var(--text-color);
}

.todo-add {
  background: transparent;
  color: grey;
  border: 1px solid grey;
  border-radius: 30%;
  padding: 4px 8px;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-item {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-normal);
  color: var(--text-color);
  border-bottom: 1px solid var(--bg-color);
}

.is-done-button {
  margin-right: 12px;
  padding: 16px;
  background-size: cover;
  background-color: transparent;
}

.is-done-button[aria-pressed="true"] {
  background-image: url("./assets/checkmark.svg");
}

.is-done-button[aria-pressed="false"] {
  background-image: url("./assets/checkmark-empty.svg");
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
